/* roboto-300 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Roboto/roboto-v20-latin-300.woff2");
}
/* roboto-500 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Roboto/roboto-v20-latin-500.woff2");
}
/* roboto-700 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Roboto/roboto-v20-latin-700.woff2");
}
html {
    font-size: 16px;
}
@media only screen and (max-width: 500px) {
    html {
        font-size: 14px;
    }
}
