/* roboto-300 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Roboto/roboto-v20-latin-300.woff2");
}
/* roboto-500 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Roboto/roboto-v20-latin-500.woff2");
}
/* roboto-700 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Roboto/roboto-v20-latin-700.woff2");
}
/* bai-jamjuree-regular - latin */
@font-face {
    font-family: "Bai Jamjuree";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Bai/bai-jamjuree-v4-latin-regular.woff2");
}
/* bai-jamjuree-500 - latin */
@font-face {
    font-family: "Bai Jamjuree";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Bai/bai-jamjuree-v4-latin-500.woff2");
}
/* bai-jamjuree-700 - latin */
@font-face {
    font-family: "Bai Jamjuree";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Bai/bai-jamjuree-v4-latin-700.woff2");
}
html {
    font-size: 16px;
}
body {
    margin: 0px;
    background: #151724;
}
@media only screen and (max-width: 500px) {
    html {
        font-size: 14px;
    }
}
