.table {
}
.table__title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #26293b;
    font-family: Bai Jamjuree;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    color: #e8e8eb;
    padding: 1rem;
    border-radius: 10px 10px 0px 0px;
}
.table__main {
    background: #1d2030;
    padding: 1rem;
    border-spacing: 0px 0.3rem;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
}
.table__head {
}
.table__headCell {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 0.8rem;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: #4f4f5b;
    padding: 1rem 2rem;
}
.table__cell {
    padding: 1rem 2rem;
}
.table__row {
    background: #26293b;
    border-radius: 5px;
    margin-bottom: 10px;
}
